
.blog{
    background: rgb(219, 211, 182);
    padding: 20px;
}
.blog h3{
    text-align: center;
    padding: 20px;
    color: blue;
}
.blog p{
    text-align: center;
    padding: 20px;
    color: rgb(6, 6, 69);
}