
.service{
  border: 1px solid skyblue;
  border-radius: 20px; 
 padding-bottom: 10px;
 text-align: center;
}
.service img{
    height: 350px;
    width: 350px;
}
.service button{
    color: aliceblue;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}





